.first-section{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firsthalf{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondhalf {
    max-width: 30%;
}
.secondhalf img{
    max-width: 80%;
    border: 3px solid rgb(15, 15, 15);
    border-radius: 15px;
    display: block;
    margin: auto;
}
.text-big{
    font-size: 41px;
}
.text-small{
    font-size: 18px;
    margin: 15px 0px;
}
.btn{
    padding: 8px 20px;
    margin: 7px 4px;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: black;
    
}